@font-face {
    font-family: 'Poppins';
    src: url('~assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'),
        url('~assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  *{ 
        font-family: "Poppins", sans-serif; 
        font-style: normal;
      
  }
.bg{
    background-color: red;
}
.main-shadow{
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
-webkit-box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
-moz-box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
transition: transform 0.2s, box-shadow 0.2s;
}

.main-shadow:active {
    transform: translate(2px, 2px);  
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1); 
}
.main-shadowcardname{
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
-webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
-moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
transition: transform 0.2s, box-shadow 0.2s;
}

.main-shadowcardname:active {
    transform: translate(2px, 2px); 
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1); 
}
.main-shadowbutton{
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
-webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
-moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
transition: transform 0.2s, box-shadow 0.2s;
}

.main-shadowbutton:active {
    transform: translate(2px, 2px); 
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1); 
}
.icon_ig{
    background: linear-gradient(241.05deg, #7BBEF7 -28.17%, #9335FF 21.23%, #F5DE9B 70.63%) !important;

}
.bg_gradient_text {
    background: linear-gradient(87.39deg, #F5DE9B 0.77%, #E069DC 51.02%, #7BBEF7 106.56%);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    -webkit-text-fill-color: transparent; 
}
.bg_gradient_text2{
    background: linear-gradient(90deg, #F5DE9B -18.22%, #9335FF 51.81%, #7986FE 121.84%);

    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    -webkit-text-fill-color: transparent; 
}
.bg_gradient_text3{
    background: url('~/assets/img/bg-gradientabout.png');

    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    -webkit-text-fill-color: transparent; 
}
span .firstcustomLetter:first-letter {
    font-size: 82px;
}
.redGradient{
    
    position: absolute;
    z-index: 1;
    top: -81px;
    right: -316px;
    width: 290px;
    height: 344px;
    box-shadow: 0px 0px 504px 0px #D23B3B;
}
.blueGradient{
    box-shadow: 0px 0px 504px 0px #3B4AD2;
    position: absolute;
    z-index: 1;
    top: -291px;
    right: 524px;
    width: 333px;
    height: 277px;
}
.yellowGradient{
    background-image:  transparent;
    position: absolute; 
    bottom: -150px;
    right: -293px;
    width: 290px;
    height: 344px;
    box-shadow: 0px 0px 504px 0px #D2A83B;
}